#!/usr/bin/env bash
{{ ansible_managed | comment }}

SCRIPT_DIRPATH="$( cd "$( dirname "${BASH_SOURCE[0]}" )" && pwd )"

dest_filepath="$1"

if [ -z "${dest_filepath}" ]
then
   dest_filepath="/etc/NetworkManager/dispatcher.d/99-openvpn"
fi

sudo cp -f "${SCRIPT_DIRPATH}/network-manager.sh" "${dest_filepath}"
sudo chmod 0755 "${dest_filepath}"
echo "network-manager.sh script has been just installed to ${dest_filepath}"
