#!/usr/bin/env bash
{{ ansible_managed | comment }}

dest_filepath="$1"

if [ -z "${dest_filepath}" ]
then
   dest_filepath="/etc/NetworkManager/dispatcher.d/99-openvpn"
fi

sudo rm -f "${dest_filepath}"
echo "network-manager.sh script has been just removed from ${dest_filepath}"
