#!/usr/bin/env bash
{{ ansible_managed | comment }}

if [ ! -f {{ openvpn_scripts_dns_update_filepath }} ]
then
  echo "There is no {{ openvpn_scripts_dns_update_filepath }} script in your system."
  exit 0
fi

DEVICE="$1"
ACTION="$2"

if [ "${ACTION}" == "vpn-up" ]
then
  # Processing VPN interface "up" action.
  DHCP_OPTIONS=()

  # Searching for DNS servers in DHCP options.
  if [ -n "${VPN_IP4_NAMESERVERS}" ]
  then
      IFS=' ' read -r -a NAMESERVERS <<< "${VPN_IP4_NAMESERVERS}"
      for nameserver in "${NAMESERVERS[@]}"
      do
        DHCP_OPTIONS+=("dhcp-option DNS ${nameserver}")
      done
  fi

  # Searching for DNS domains in DHCP options.
  if [ -n "${VPN_IP4_DOMAINS}" ]
  then
      IFS=' ' read -r -a DOMAINS <<< "${VPN_IP4_DOMAINS}"
      for domain in "${DOMAINS[@]}"
      do
          DHCP_OPTIONS+=("dhcp-option DOMAIN_ROUTE ${domain}")
      done

  elif [ {% raw %}${#DHCP_OPTIONS[@]}{% endraw %} -gt 0 ]
  then
    # If there are no domains in DHCP options, we declare all domains route.
    DHCP_OPTIONS+=("dhcp-option DOMAIN_ROUTE .")
  fi

  # dhcp-option export in order to satisfy {{ openvpn_scripts_dns_update_filepath }} script API.
  for index in "${!DHCP_OPTIONS[@]}"
  do
    export "foreign_option_${index}=${DHCP_OPTIONS[$index]}"
  done

  echo "Executing {{ openvpn_scripts_dns_update_filepath }} script."
  script_type=up dev="${DEVICE}" {{ openvpn_scripts_dns_update_filepath }}

  # Deleting custom {{ openvpn_scripts_dns_update_filepath }} ENV variables.
  for index in "${!DHCP_OPTIONS[@]}"
  do
     unset "foreign_option_${index}"
  done

elif [ "${ACTION}" == "vpn-pre-down" ]
then
  # Processing VPN interface "down" action.
  echo "Executing {{ openvpn_scripts_dns_update_filepath }} script."
  script_type=down dev="${DEVICE}" {{ openvpn_scripts_dns_update_filepath }}
fi
