#!/usr/bin/env bash
{{ ansible_managed | comment }}

SCRIPT_NAME="${BASH_SOURCE[0]}"

if [ ! -f {{ openvpn_scripts_dns_update_filepath }} ]
then
  logger -s -t "${SCRIPT_NAME}" "There is no {{ openvpn_scripts_dns_update_filepath }} script in your system."
  exit 0;
fi

logger -s -t "${SCRIPT_NAME}" "Executing {{ openvpn_scripts_dns_update_filepath }} script."
{{ openvpn_scripts_dns_update_filepath }} $@;
