{{ ansible_managed | comment }}

dev {{ openvpn_dev }}
{% if openvpn_tcp %}
proto tcp-client
{% else %}
proto udp
{% endif %}
{% for openvpn_remote in openvpn_remotes %}
remote {{ openvpn_remote }} {{ openvpn_client_port }}
{% endfor %}
{% if openvpn_remote_random %}
remote-random
{% endif %}
nobind
tls-client

resolv-retry {{ openvpn_resolv_retry }}

persist-key
persist-tun

cipher {{ openvpn_cipher }}
auth {{ openvpn_auth }}

ca {{ openvpn_name }}_{{ _openvpn_client }}/ca.crt
cert {{ openvpn_name }}_{{ _openvpn_client }}/{{ _openvpn_client }}.crt
key {{ openvpn_name }}_{{ _openvpn_client }}/{{ _openvpn_client }}.key
{% if openvpn_tls_auth %}
tls-auth {{ openvpn_name }}_{{ _openvpn_client }}/ta.key 1
{% endif %}

remote-cert-tls server

{% if openvpn_comp_lzo -%}
comp-lzo
{% endif %}

verb {{ openvpn_verb }}

pull

{% if _openvpn_client_linux is defined and _openvpn_client_linux | bool -%}
script-security 2
up "/bin/bash scripts/up.sh"
up-restart
down "/bin/bash scripts/down.sh"
down-pre
{% endif %}

{% for option in openvpn_client_options %}
{{ option }}
{% endfor %}
