{{ ansible_managed | comment }}

{% if openvpn_local is defined -%}
local {{ openvpn_local }}
{% else -%}
;local a.b.c.d {% endif %}

mode server
dev {{ openvpn_dev }}
{% if openvpn_tcp %}
proto tcp-server
{% else %}
proto udp
{% endif %}
port {{ openvpn_port }}
tls-server

ca {{ openvpn_pki_home }}/ca.crt
cert {{ openvpn_pki_home }}/issued/server.crt
key {{ openvpn_pki_home }}/private/server.key
{% if openvpn_tls_auth %}
tls-auth {{ openvpn_pki_home }}/ta.key 0
{% endif %}
dh {{ openvpn_pki_home }}/dh.pem
crl-verify {{ openvpn_pki_home }}/crl.pem

cipher {{ openvpn_cipher }}
auth {{ openvpn_auth }}

server {{ openvpn_server }} nopool
ifconfig-pool {{ openvpn_pool }}
topology {{ openvpn_topology }}
{% if openvpn_ipp %}
ifconfig-pool-persist {{ openvpn_ipp }}
{% endif %}
client-config-dir {{ openvpn_ccd }}

keepalive {{ openvpn_keepalive }}
max-clients {{ openvpn_max_clients }}
{% if openvpn_client_to_client %}
client-to-client
{% endif %}

{% if openvpn_comp_lzo -%}
comp-lzo
{% endif %}

persist-key
persist-tun

status {{ openvpn_status }}
log-append  {{ openvpn_log }}
verb {{ openvpn_verb }}

user {{ openvpn_user }}
group {{ openvpn_user_group | default(openvpn_default_user_group, true) }}

{% for option in openvpn_server_options %}
{{ option }}
{% endfor %}
